$fore-color: darken(#06abbb, 15%);
$text-color: lighten(black, 5%);
$primay-color: lighten(#fc8620, 10%);
$back-color: lighten($primay-color, 50%);
$secondary-color: #70A0BF;
$tertiary-color: #F0986C;
