section {
    margin:auto;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1024px) {
    section {
        width: 100%;
        .info {
            width:100%;
            padding: 0 !important;
        }
        .article {
            padding: 0 !important;
        }

        .article p{
            padding: 10px !important;
        }

        .article h1{
            padding: 10px !important;
        }

        img {
            max-width:100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    section {
        width: 1024px;
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.btn {
    text-decoration: none;
    color: lighten($primay-color, 90%);
    background-color: $primay-color;
    padding:15px;
    border-radius: 5px;
}

.big {
    @include fadeIn;
    padding: 10px;
    max-width: 720px;
    margin:auto;
    margin-top  : calc((100vh - 280px)/2);
    margin-bottom  : calc((100vh - 280px - 160px)/2);
    transform: translateY(-50%);

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.article {
    @include fadeIn;
    padding: 10px;
    width: 100%;
    margin:auto;
    h1 {
        font-weight: 500;
        font-size: 40px;
    }
}

.staff {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        max-width:500px;
        margin: auto 0;
        padding: 0;
        color: $fore-color;
        padding: 10px;
    }

    img {
        width:300px;
    }
    .name {
        font-weight: 500;
    }
    .description {
        font-style: italic;
        color: $text-color;
        padding-bottom: 5px !important;
    }
}



.hex img {
    clip-path: url("#myClip");
    width: 200px;
    object-fit: cover;
    height: 200px;

}

.credits {
    font-style: italic;
    font-size: 15px;
}


@media screen and (min-width: 720px) {
    .staff:nth-of-type(odd)  {

        flex-direction: row-reverse;
        .staff-intro {
            margin: auto auto auto 20px;
        }
    }

    .staff:nth-of-type(even)  {
        flex-direction: row;
        p {
            text-align: right;
        }
        .staff-intro {
            margin: auto 20px auto auto;
        }
    }
}

@media screen and (max-width: 720px) {
    .staff-intro {
        margin: auto;
    }

    .staff {

        margin-bottom: 100px;
        p {
            text-align: center !important ;
        }
        .hex {
            width: 100%;
        }

        .hex-background {
             margin:auto;
             margin-top: 20px;
             width: 200px;
        }

        .name {
            font-weight: 500;
        }
        .description {
            font-style: italic;
            color: $text-color;
        }
    }
}

.news {
    display: flex;
    border-bottom: 1px solid lighten(black, 90%);
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    padding: 0;

    p {
        margin: 0;
    }
    .info {
        padding-bottom: 15px;

        .title a{
            font-size: 30px;
            font-weight: 500;
            color: $fore-color;
            text-decoration: none;
        }

        .credits {
            font-style: italic;
            font-size: 15px;
        }

        .description {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 720px) {
        .info {
            padding:30px;
            padding-left:0;
        }
    }
}

.button-more {
    button {
        float:right;
        background-color: $primay-color;
        color: white;
        padding:5px 10px 5px 10px;
        border-radius: 4px;
    }
}